@import "vars";
@import "header";
@import "bottom-player";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1224px) {
  h4 {
    font-size:$font-size-default;
  }
  .text {
    width: 90%;
    text-align: center;
  }
  .player-buttons {
    font-size:$font-size-default + 6;
  }
  .block-track-info .current-playlist-info {
    font-size:$font-size-default - 2;
    text-indent: 0;
  }
  .artist-name {
    font-size:$font-size-default - 2;
  }
  .block-main-content .section-with-music .music-content-section .album-section-new .album-info {
    p {
      line-height: 55px;
      text-align: center;
    }
  }
}

/**/

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .music-content-section {
    margin-bottom: 200px;
  }
}

/**/

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .player-buttons {
    font-size:$font-size-default + 16;
    .player-playpause-button {
      i {
        font-size:$font-size-default + 20;
      }
    }
  }
 header {
   .head-content-main {
     width: 100%;
     padding: {
       left: 10px;
       right: 10px;
     };
     .logo {
       .logo-name {
         font-size:$font-size-default - 2;
       }
     }
     .search {
       .search-line {
         &:hover {
           transition: 1s all ease;
         }
       }
     }

   }
 }

  .block-track-info {
    order: 1;
    .current-playlist {
      min-height: 70vh;
      height: 100%;
      bottom:13vh;
    }
  }
  .player-buttons {
    order: 3;
  }
  .player-range-section-new {
    order: 0;
    .range-input {
      span {font-size:$font-size-default - 2;}
    }
    input[type=range] {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;

      }
    }
  }
  .block-main-content .section-with-music .music-content-section {
    margin-bottom: 180px;
  }
  .block-main-content .section-with-music .music-content-section .album-section-new .album-info {
    opacity: 1;
    p {
      line-height: 70px;
    }
  }

}

/**/

@media only screen and (max-width: 640px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header .head-content-main .search .search-line+a {
    right: 0;
  }


}

/**/

/* Custom, iPhone Retina */
@media only screen and (max-width: 440px) {

}

/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/**/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/**/

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/**/

